{{- if .Values.ingressroute.enabled -}}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirectscheme
  namespace: lucle
spec:
  redirectScheme:
    scheme: https
    permanent: true
{{- end }}  
