name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install protoc
        run: |
          curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v22.2/protoc-22.2-linux-x86_64.zip
          unzip protoc-22.2-linux-x86_64.zip -d $HOME/.local
          export PATH="$PATH:$HOME/.local/bin"
      - name: Install dependencies
        run: cd web && yarn install
      - name: lint
        run: cd web && yarn lint
      - name: prettier
        run: cd web && yarn prettier
      - name: Build frontend (js side)
        run: cd web && yarn build
      - name: fmt
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: Build backend (rust side)
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
