name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: install protoc
      run: |
        sudo apt-get update
        sudo apt-get install -y protobuf-compiler
    - name: Install dependencies
      run: cd web && yarn install
    - name: lint
      run: yarn lint
    - name: prettier
      run: yarn prettier
    - name: Build frontend (js side)
      run: yarn build
    - name: Build backend (rust side)
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
