name: "Build container"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    # container: ghcr.io/blackdex/rust-musl:aarch64-musl-nightly-2024-10-25
    # container: ghcr.io/blackdex/rust-musl:aarch64-musl
    # container: docker.io/rust:alpine3.20
    container: quay.io/blackdex/rust-musl:aarch64-musl-stable-ci
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          ls -al && cargo -vV && cargo build --release
