name: "Build container"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    container: blackdex/rust-musl:aarch64-musl
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --release
      - run: ls target/
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: lucle
          if-no-files-found: error
          path: target/release/lucle        
      
  build-container:
    runs-on: ubuntu-22.04
    needs: build
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Build container
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ludea/lucle:latest
          platforms: linux/amd64, linux/arm64
          target: alpine 
