name: Release

on: 
 push:
   tags:
     - v*.*.*

env:
  REGISTRY: ghcr.io
jobs:
  build-container:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: get version
      run: echo "PACKAGE_VERSION=$(cargo pkgid | cut -d# -f2)" >> $GITHUB_ENV
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Build container 
      uses: docker/build-push-action@v4
      with:
        push: true
        tags: |
          ludea/lucle:${{ env.PACKAGE_VERSION }}
          ludea/lucle:latest
        platforms: linux/amd64, linux/arm64
        target: alpine

  build-helm-chart:
    needs: build-container
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.10.0
      - id: 'configure-git'
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: lint
        run: |
          helm lint charts/lucle/
      - name: Package chart
        run: helm package charts/lucle charts/speedupdate 

      - name: Push
        uses: cloudsmith-io/action@v0.5.3
        with:
          api-key: ${{ secrets.CLOUDSMITH_API_KEY }}
          command: "push"
          format: "helm"
          owner: "ludea"
          repo: "lucle"
          republish: "true"
          file: |
            "charts/lucle-${{ github.ref_name }}.tgz" 
