name: Release

on: 
 push:
   tags:
     - v*.*.*

env:
  REGISTRY: ghcr.io
jobs:
  build-x86_64-container:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: install deps
      run: |
        sudo apt-get update
        sudo apt-get install -y mysql-server sqlite3 postgresql musl musl-tools musl-dev musl-gcc 
    - name: Install protoc
      run: |
        curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v21.12/protoc-21.12-linux-x86_64.zip
        unzip protoc-21.12-linux-x86_64.zip -d $HOME/.local
        export PATH="$PATH:$HOME/.local/bin"
    - uses: dtolnay/rust-toolchain@stable
      with: 
        targets: x86_64-unknown-linux-musl
    - uses: Swatinem/rust-cache@v2
    - name: Install react deps
      run: cd web && yarn install
    - name: yarn build
      run: cd web && yarn build
    - name: Build binaries
      run: cargo build --release --target x86_64-unknown-linux-musl   
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Build container 
      uses: docker/build-push-action@v4
      with:
        push: true
        tags: |
          ludea/lucle:${{ github.ref_name }}
          ludea/lucle:latest
        target: final
        platforms: linux/amd64         
