name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: echo allo >> test.txt
    - run: touche allo.txt
    - name: Build container 
      uses: docker/build-push-action@v4
      with:
        push: false
        tags: |
          ludea/lucle:${{ github.ref_name }}
          ludea/lucle:latest
        platforms: linux/amd64         
