name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-latest
    steps:
#    - uses: actions/checkout@v3
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - run: echo allo >> test.txt
    - run: touch allo.txt
    - run: ls -l
    - name: Build container 
      uses: docker/build-push-action@v4
      with:
        push: false
        tags: |
          ludea/lucle:${{ github.ref_name }}
          ludea/lucle:latest
        platforms: linux/amd64         
